%h2 Reenviar las instrucciones de confirmación

= semantic_form_for(resource, as: resource_name, url: confirmation_path(resource_name)) do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :email
  = f.buttons do
    = f.commit_button button_html: {class: "primary", value: "Reenviar las instrucciones de confirmación"}

= render "devise/shared/links"
