%h2 Reenviar las instrucciones de confirmación

= semantic_form_for(resource, as: resource_name, url: confirmation_path(resource_name)) do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :email
  = f.actions do
    = f.button 'Reenviar las instrucciones de confirmación', class: "btn btn-success"

= render "devise/shared/links"
