%h2 Reenviar las instrucciones de desbloqueo.

= semantic_form_for(resource, as: resource_name, url: user_unlock_path, html: {method: :post}) do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :email
  = f.actions do
    = f.button 'Reenviar las instrucciones de desbloqueo', class: "btn btn-success"
    
= render "devise/shared/links"
