%h2 ¿Olvidaste tu contraseña?

= semantic_form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post}) do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :email
  = f.actions do
    = f.button 'Enviar las instrucciones de cambio de contraseña', class: "btn btn-success"

= render "devise/shared/links"
